// body {
//   padding-top: 20px;
//   &:before {
//     z-index: 10001;
//     line-height: 20px;
//     font-weight: bold;
//     text-align: center;
//     position: fixed;
//     font-size: 20px;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 20px;
//     background: limegreen;
//     content: "Xsmall";
//   }
//   @include media-breakpoint-up(sm) {
//     &:before {
//       content: "small sm";
//       background: #f00;
//     }
//   }
//   @include media-breakpoint-up(md) {
//     font-size: $font-size-base;
//     &:before {
//       content: "middle md";
//       background: green;
//     }
//   }
//   @include media-breakpoint-up(lg) {
//     &:before {
//       content: "Large lg";
//       background: turquoise;
//     }
//   }
//   @include media-breakpoint-up(xl) {
//     &:before {
//       content: "XLarge xl";
//       background: #f09;
//     }
//   }
//   @include media-breakpoint-up(xxl) {
//     &:before {
//       content: "XXLarge xxl";
//       background: #90f;
//     }
//   }
// }

body {
  color: $Black;
  p {
    font-size: 14px;
    line-height: 22px;
  }
}

a {
  text-decoration: none;
  color: $ActiveRegular;
  &:hover {
    color: $Accent;
  }

  h1 {
    font-size: 30px;
    line-height: 37px;
    @include media-breakpoint-up(md) {
      font-size: 38px;
      line-height: 46px;
    }
  }
}

// main

main {
  position: relative;
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
  &:before {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    top: 100%;
    left: 20px;
    height: 10px;
    background: $Mischka;
    border-radius: 0px 0px 12px 12px;
  }
  &:after {
    content: "";
    position: absolute;
    width: calc(100% - 80px);
    top: calc(100% + 10px);
    left: 40px;
    height: 10px;
    background: $WhisperNext;
    border-radius: 0px 0px 12px 12px;
  }
}

.dark {
  .header {
    .lang li a {
      color: $White;
    }
    .lang li.active a {
      color: $White;
      &:hover {
        color: $White;
      }
    }
    .address li {
      color: $White;
    }
  }
  // h3 {
  //   color: $ActiveRegular;
  // }
  p {
    color: $White;
  }
}

.h1-gradient {
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.idn-publication {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 15px;

  img {
    display: block;
    width: 100%;
    height: 200px;
  }
  .pbl-article {
    background: $White;
    padding: 30px 30px;
  }
  h4 {
    margin-bottom: 15px;
  }
  time {
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    color: $MainTextColor;
    display: block;
    margin-bottom: 15px;
  }
  span {
    display: block;
    margin-bottom: 15px;
    height: 4px;
    width: 100%;
    background: $SeparatorColor;
  }
}
// .arrow {
//   position: absolute;
//   width: 10px;
//   height: 13px;
//   top: 11px;
//   left: 83px;
//   background: url(../images/sprite/sprite.svg#arrow) no-repeat;
//   &:hover {
//     background: url(../images/sprite/sprite.svg#arrow-hover) no-repeat;
//   }
// }

.intro-text {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  color: $White;
  font-size: 38px;
  font-weight: 700;
  span {
    text-align: center;
    width: 315px;
    margin-top: 25px;
    line-height: 46px;

    @include media-breakpoint-up(md) {
      width: 100%;
      margin-top: 203px;
    }
  }
  .scroll {
    position: absolute;
    content: "";
    left: calc(50% - 21px);
    top: calc(100% - 73px);
    width: 42px;
    height: 42px;
    background: url(../images/sprite/sprite.svg#button-scroll-regular) no-repeat;
    &:hover {
      background: url(../images/sprite/sprite.svg#button-scroll-hover) no-repeat;
    }
  }
}

.letterH {
  // position: absolute;
  background: url(../images/symbol.svg) no-repeat;
  background-size: 100% 100%;
  display: flex;
  position: relative;
  margin-top: -120px;
  width: 529px;
  height: 628px;
  left: calc(50% - 190px);
  // top: 0;
  z-index: 2;
  @include media-breakpoint-up(md) {
    width: 670px;
    height: 768px;
    left: calc(50% - 335px);
    right: initial;
    margin-top: -195px;
  }
  @include media-breakpoint-up(xl) {
    width: 697px;
    height: 799px;
    left: calc(50% - 349px);
    margin-top: -111px;
  }
  @include media-breakpoint-up(xxl) {
    width: 872px;
    height: 1000px;
    left: calc(50% - 436px);
    top: -21px;
  }
}

.options {
  margin-top: 60px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    margin-left: 0;
  }
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    margin-left: -85px;
  }

  .idn-options {
    display: flex;
    @include media-breakpoint-up(lg) {
      flex-direction: column;
      margin-top: 15px;
      padding-left: 80px;
    }
    a {
      margin-bottom: 20px;
      @include media-breakpoint-up(md) {
        margin-bottom: 50px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &.active {
        background-image: linear-gradient(
          90.13deg,
          #ef8080 0.84%,
          #f0145a 99.96%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    h1 {
      margin-right: 30px;
      white-space: nowrap;
      color: $MainTextColor;
      @include media-breakpoint-up(lg) {
        margin-right: 60px;
      }
      &:hover {
        color: $Accent;
      }
    }
  }
  .options-article {
    display: flex;
    flex-direction: column;
    border-top: 4px solid rgba(255, 255, 255, 0.3);
    @include media-breakpoint-up(lg) {
      justify-content: center;
      border-top: none;
      border-left: 4px solid rgba(255, 255, 255, 0.3);
    }

    h2 {
      font-size: 20px;
      margin-bottom: 30px;
      margin-top: 20px;
      color: $White;
      @include media-breakpoint-up(md) {
        margin-top: 60px;
        font-size: 30px;
      }
      @include media-breakpoint-up(lg) {
        margin-top: 55px;
        margin-left: 60px;
      }
    }
    p {
      font-size: 19px;
      line-height: 30px;
      color: $White;
      @include media-breakpoint-up(lg) {
        margin-left: 60px;
      }
    }
  }
}

.features {
  .intro-features {
    h3 {
      margin-top: 60px;
      @include media-breakpoint-up(lg) {
        margin-top: 60px;
      }
      // position: relative;
      // a {
      //   padding-right: 20px;
      //   &.arrow {
      //     position: absolute;
      //     width: 8px;
      //     height: 11px;
      //     top: 10px;
      //     left: 83px;
      //     background: url(../images/sprite/sprite.svg#arrow) no-repeat;
      //   }
      //   &:hover {
      //     .arrow:hover {
      //       background: url(../images/sprite/sprite.svg#arrow-hover) no-repeat;
      //     }
      //   }
      // }
    }
    h1 {
      @extend .h1-gradient;
      margin-bottom: 60px;
      font-size: 30px;
      line-height: 37px;
      @include media-breakpoint-up(md) {
        font-size: 38px;
        line-height: 46px;
      }
    }
  }

  .articles-features {
    margin-bottom: 60px;
    img {
      height: 92px;
      width: 92px;

      margin-bottom: 30px;
    }
    a {
      text-decoration: none;
      color: $ActiveRegular;
      &:hover {
        color: $Accent;
      }
      h3 {
        color: inherit;
        margin-bottom: 15px;
        line-height: 27px;
        padding-right: 100px;
      }
    }
    p {
      line-height: 26px;
      font-size: 16px;
      padding-right: 35px;
    }
  }
}

h3 {
  a,
  span {
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    text-align: left;
  }
}

.team-article {
  margin-top: 80px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  img {
    display: flex;
    min-height: 500px;
    min-width: 315px;
    border-radius: 12px 12px 0 0;
    @include media-breakpoint-up(md) {
      min-height: 500px;
      min-width: 648px;
    }
    @include media-breakpoint-up(lg) {
      border-radius: 12px 0 0 12px;
      min-height: 528px;
      min-width: 400px;
    }
    @include media-breakpoint-up(xl) {
      min-height: 344px;
      min-width: 400px;
    }
    @include media-breakpoint-up(xxl) {
      min-height: 298px;
      min-width: 400px;
    }
  }
  .team-member {
    padding: 30px 10px 0 30px;
    background: $Main-bg;
    border-radius: 0 0 12px 12px;
    position: relative;
    @include media-breakpoint-up(lg) {
      border-radius: 0 12px 12px 0;
    }
    h1 {
      @extend .h1-gradient;
      margin-bottom: 30px;
      font-size: 30px;
      line-height: 37px;
      @include media-breakpoint-up(md) {
        font-size: 38px;
        line-height: 46px;
      }
    }
    h4 {
      margin-bottom: 6px;
      line-height: 20px;
      color: $MainTextColor;
    }
    p {
      line-height: 22px;
      color: $MainTextColor;
    }
  }
}

.carousel-indicators {
  position: absolute;
  bottom: -40px;
}

.carousel-indicators [data-bs-target] {
  height: 16px;
  width: 16px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: $ActiveRegular;
  transition: none;
  opacity: 0.2;
}
.carousel-indicators button.active {
  opacity: 1;
}

.item-clients {
  margin-top: 76px;
  h3 {
    margin-bottom: 30px;
  }
}

.home-clients {
  @include media-breakpoint-up(xxl) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.our-clients {
  padding: 0;
  margin: 0;
  a {
    display: flex;
  }
  img {
    display: flex;
    width: 100%;
  }
}

.pbl-foot {
  background: $Main-bg;
}

.home-publications {
  background: $Main-bg;
  .intro-publications {
    h3 {
      padding-top: 30px;
      padding-bottom: 10px;
    }

    h1 {
      @extend .h1-gradient;
      font-size: 30px;
      @include media-breakpoint-up(md) {
        font-size: 38px;
      }
    }
  }
  @extend .idn-publication;
}

.footer {
  padding-bottom: 30px;
  position: relative;

  .hlegal {
    position: absolute;
    text-align: center;
    top: 225px;
    color: $MainTextColor;
    @include media-breakpoint-up(md) {
      top: 150px;
    }
    @include media-breakpoint-up(lg) {
      text-align: right;
      top: 30px;
    }
  }
  .footer-line {
    display: block;
    margin-bottom: 30px;
    height: 2px;
    width: 100%;
    background: $SeparatorColor;
  }
  .footer-adress {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include media-breakpoint-up(md) {
      justify-content: start;
      flex-direction: row;
      padding-left: 125px;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 0;
    }
    span {
      color: $MainRegular;
      line-height: 20px;
      letter-spacing: 0em;
      padding-bottom: 10px;
      @include media-breakpoint-up(md) {
        padding-bottom: 0;
      }
    }
    a {
      margin-left: 0;
      text-transform: uppercase;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 1px;
      position: relative;
      @include media-breakpoint-up(md) {
        margin-left: 26px;
      }
      &:before {
        display: none;
        content: "";
        position: absolute;
        left: -16px;
        top: 5px;
        background: $MainTextColor;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        @include media-breakpoint-up(md) {
          display: block;
        }
      }
    }
  }
  .footer-contacts {
    @include media-breakpoint-up(md) {
      padding-left: 125px;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 0;
    }
    .ftr-contacts {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-top: 21px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 80px;
      @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: start;
        margin-top: 30px;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
      .ftr-fb-icon {
        height: 38px;
        width: 38px;
        background: url(../images/sprite/sprite.svg#fb-footer) no-repeat;
        &:hover {
          background: url(../images/sprite/sprite.svg#fb-footer-hover) no-repeat;
        }
      }
      .ftr-tel {
        margin-left: 0;
        margin-top: 10px;
        position: relative;
        @include media-breakpoint-up(md) {
          margin-left: 26px;
          margin-top: 7px;
        }
        &:before {
          display: none;
          content: "";
          position: absolute;
          left: -16px;
          top: 10px;
          background: $MainTextColor;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          @include media-breakpoint-up(md) {
            display: block;
          }
        }
        a {
          color: $MainAlt;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0em;
        }
      }
      .ftr-mail {
        margin-left: 0;
        font-weight: 700;
        margin-top: 10px;

        position: relative;
        @include media-breakpoint-up(md) {
          margin-left: 26px;
          margin-top: 7px;
        }

        &:before {
          display: none;
          content: "";
          position: absolute;
          left: -16px;
          top: 10px;
          background: $MainTextColor;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          @include media-breakpoint-up(md) {
            display: block;
          }
        }
      }
    }
  }
}

// about us

.about-us {
  padding: 30px 30px;
  @include media-breakpoint-up(md) {
    margin-top: 30px;
    padding: 60px 0px;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 0;
    padding: 60px 120px;
  }
  h1 {
    @extend .h1-gradient;
  }

  .about-left {
    padding-right: 30px;
    h1 {
      margin-bottom: 28px;
    }
    p {
      font-size: 19px;
      line-height: 30px;
    }
  }

  .about-right {
    padding-top: 30px;
    @include media-breakpoint-up(md) {
      padding-top: 0px;
    }
    ul {
      list-style: none;
      border-left: 4px solid $SeparatorColor;
      li {
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 0;
        }
        span {
          display: block;
          margin-top: 5px;
          width: 32px;
          height: 32px;
        }
        em {
          margin-left: 12px;
          margin-bottom: 10px;
          font-style: normal;
          @extend .h1-gradient;
          font-size: 36px;
          font-weight: 700;
          line-height: 44px;
        }
        p {
          color: $MainRegular;
          font-size: 16px;
          line-height: 20px;
        }
        .experience-i {
          span {
            background: url(../images/sprite/sprite.svg#experience-icon)
              no-repeat;
          }
        }
        .clients-i {
          span {
            background: url(../images/sprite/sprite.svg#clients-icon) no-repeat;
          }
        }
        .probono-i {
          span {
            background: url(../images/sprite/sprite.svg#probono-icon) no-repeat;
          }
        }
      }
    }
  }
}
.achievements-main {
  background: $Main-bg;
  .achieve-article {
    margin-bottom: 46px;
  }
  h3 {
    text-align: center;
    text-transform: uppercase;
    color: $MainRegular;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .achievement {
    list-style: none;
    margin-bottom: 30px;
    padding-left: 0;
    @include media-breakpoint-up(md) {
      padding-left: auto;
    }
    li {
      width: 100%;
      height: 110px;
      background: $White;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.mobile-ach {
  display: block;
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.desktop-ach {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

// publications

.home-publications {
  padding: 0 -15px;
  &.public-main {
    margin-top: 0;
    @include media-breakpoint-up(md) {
      margin-top: 120px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 60px;
    }
  }
  .public-switch {
    margin-top: 30px;
    width: 233px;
    height: 42px;
    background: $SeparatorColor;
    border-radius: 12px;
    a {
      margin: 0 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 105px;
      height: 38px;
      border-radius: 12px;
      &.active {
        background: $White;
      }
      h4 {
        margin-bottom: 0;
      }
    }
  }
  .pbl-article {
    height: auto;
    @include media-breakpoint-up(md) {
      height: 314px;
    }
    @include media-breakpoint-up(lg) {
      height: 356px;
    }
    @include media-breakpoint-up(xl) {
      height: 250px;
    }
    @include media-breakpoint-up(xxl) {
      height: 230px;
    }
  }
  .more-btn {
    .public-btn {
      margin-bottom: 30px;
      width: 211px;
      height: 56px;
      background: $ActiveRegular;
      box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
      border-radius: 12px;
      .more-title {
        color: $White;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        margin-bottom: 0;
      }
    }
  }
}
