$Rhino: #323264;
$MulledWine: #46466e;
$StormGray: #686887;
$Razzmatazz: #f0145a;
$DodgerBlue: #24a3ff;
$AzureRadiance: #0085ff;
$ScienceBlue: #006ccf;
$Whisper: #f5f5fa;
$WhiteLilac: #ededf7;
$Bombay: #b3b3ba;
$AthensGray: #e6e6f0;
$Black: #000000;

$MainRegular: $Rhino;
$MainAlt: $MulledWine;
$MainSoft: $StormGray;
$Accent: $Razzmatazz;
$ActiveRegular: $DodgerBlue;
$ActiveHover: $AzureRadiance;
$ActiveActive: $ScienceBlue;

$Main-bg: $Whisper;
$Alt-bg: $WhiteLilac;
$MainTextColor: $Bombay;
$SeparatorColor: $AthensGray;
